<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ASSA I 2021 - INDEX</title>
</head>
<body>
    <h1>Hello World</h1>

    <form th:action="@{/zadanie_02}" method="post">
        <input type="text" name="name" placeholder="Podaj swoje imię">
        <input type="submit" value="submit">
    </form>

    <div th:if="${nameLength != null}">
        <p>
            ilość liter w imieniu: <span th:text="${nameLength}">0</span>
        </p>
    </div>

</body>
</html>